.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.containerGrid{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.emtyGrid {
    width: 100px;
}