.dropdownContent {
    position: absolute;
    background-color: rgb(239, 215, 181);
    overflow: auto;
    box-shadow: 0 8px 10px 0 rgba(241, 120, 75, 1);
    z-index: 1;
    width: 33%;
    text-align: center;
    
}

.payButton {
    background-color: #61dafb;
    border-radius: 5px;
    border-style: none;
    width: 90px;
    padding: 5px;
    cursor: pointer;
}

.endButton{
    margin-left: 280px;
    margin-bottom: 20px;
    cursor: pointer;
}

.totalSum {
    margin-left: 350px;
}

.closeButton {
    background-color: lightcoral;
    border-radius: 5px;
    border-style: none;
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}