.imageCart{
    width: 50%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

.input {
    width: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: solid black 1px;
}



.remove {
    width: 25px;
    cursor: pointer;
}