
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to top, rgba(222, 184, 135,1) 0%, rgba(245, 222, 179, 1)100%);
}

.sectionLogo{
    text-align: center;
    font-size: 30px;
}


.sectionSearch {
    margin-top: 50px;
    text-align: center;
}

.sectionCart {
    margin-top: 50px;
    text-align: center;
}

.dropdownButton {
    background-color: coral;
    color: black;
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    font-family: Cinzel, sans-serif;
    margin: 10px;
}

.imageCart {
    width: 5%;
    cursor: pointer;
}
